[submodule "04_fuzzing/lib/openzeppelin-contracts"]
	path = 04_fuzzing/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "04_fuzzing/lib/properties"]
	path = 04_fuzzing/lib/properties
	url = https://github.com/crytic/properties
